html.
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <title>KareBear</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="../stylesheets/jumbotron-narrow.css" rel="stylesheet">
    <link href="../stylesheets/index.css" rel="stylesheet">

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right grey">
            <li role="presentation"><a href="helloworld">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Kare Bear</h3>
      </div>



      <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet mi in magna cursus pretium at et augue. Pellentesque ullamcorper feugiat tristique. Integer lacinia turpis quis eleifend tempor. Nullam imperdiet gravida mi, vel maximus eros volutpat in. Vestibulum et molestie urna. Duis faucibus sem nec mollis efficitur. Nam lorem libero, dignissim blandit pretium nec, laoreet sit amet velit. Aliquam congue turpis at fringilla laoreet. Vivamus a urna eu orci tincidunt tempor. Nulla facilisi. Phasellus ac finibus ligula, viverra bibendum orci. Curabitur sit amet pharetra sem. Ut laoreet viverra ipsum, sit amet consequat sem lobortis sit amet.Nunc finibus elit a magna feugiat eleifend. Ut sed egestas ipsum. Sed faucibus nisi at bibendum tincidunt. In sagittis nunc velit, nec viverra justo cursus eget. Donec malesuada et dolor nec pharetra. Nunc erat sem, pharetra venenatis pellentesque nec, tincidunt vel erat. Etiam volutpat nisl ac turpis aliquet laoreet.


      </div>




      <script>
        $('#myTabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
        $('#myTabs a:first').tab('show')
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          e.target // newly activated tab
          e.relatedTarget // previous active tab
        })
      </script>

      <div class="row marketing">
        <div class="col-lg-12">
          <div id="task-controller">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active" id="home">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">.Cras justo odio, dapibus ac facilisis in, egestas eget quam. .</div>
            <div role="tabpanel" class="tab-pane fade" id="messages">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </div>
          </div>

          <br><br><br><br><br><br><br>
        </div>
        </div>

      </div>

      <footer class="footer">
        <p>&copy; Kare Bear</p>
        <p>-   Made at HackRU Fall 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
