.text-muted {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: #854A0C;
}

body{
	background-color: white;
  	background: linear-gradient(to bottom, rgba(255,255,255,0.40) 0%,rgba(255,255,255,0.3) 100%),
              url(http://3.bp.blogspot.com/-U6JTJAhG0Wk/UWSq05j9MEI/AAAAAAAAAKY/MfwY8EtsM_4/s1600/Cartoon+Teddy+Bear+Wallpaper-727157.jpg) no-repeat center center;
  	background-size: 100% 100%;
}
